<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.asus.pict">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Petani.UpdateProdukActivity"></activity>
        <activity android:name=".Petani.TokoActivity" />
        <activity android:name=".pembeli.EtalaseActivity" />
        <activity android:name=".pembeli.PembeliProfileActivity" />
        <activity android:name=".pembeli.PasswordPembeliActivity" />
        <activity android:name=".pembeli.DetailProdukActivity" />
        <activity android:name=".pembeli.SearchPembeliActivity" />
        <activity android:name=".Petani.InformasiActivity" />
        <activity android:name=".Petani.KebijakanAppActivity" />
        <activity android:name=".Petani.PengaturanAkunActivity" />
        <activity android:name=".pembeli.PembeliMainActivity" />
        <activity android:name=".pembeli.PembeliRegisterActivity" />
        <activity android:name=".pembeli.PembeliLoginActivity" />
        <activity android:name=".Petani.TambahProdukActivity" />
        <activity android:name=".Petani.ProdukSayaActivity" />
        <activity android:name=".Petani.HalamanUtamaActivity" />
        <activity android:name=".Petani.RegisterActivity" />
        <activity android:name=".GetStartedMasuk" />
        <activity android:name=".GetStartedFirst" />
        <activity android:name=".Petani.ActivityLogin" />
        <activity android:name=".GetStarted" />
        <activity android:name=".activity_update" />
        <activity android:name=".Activity_view_likes" />
        <activity android:name=".Activity_posting_user" />
        <activity android:name=".Activity_profile_user" />
        <activity android:name=".activity_posting" />
        <activity android:name=".MainActivity" />
        <activity android:name=".ActivitySplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity_Login" />
        <activity android:name=".ActivityRegister" />
    </application>

</manifest>